@{
    ViewBag.Title = "Usuarios";
}


<div class="panel">
    <div class="panel-hdr">
        <h2 class="ui-sortable-handle"> <i class="fal fa-user fa-fw"></i>Lista de Usuarios</h2>
        <div class="panel-toolbar " role="menu">
            @*@if (User.IsInRole("coreseguridad_AccesoAlSistema"))
                {
                    <a href="@Url.Action("CrearUsuario")" class="btn btn-success"><i class="fal fa-plus fa-fw"></i> Nuevo Usuario</a>
                }*@
            <a href="@Url.Action("CrearUsuario")" class="btn btn-success"><i class="fal fa-plus fa-fw"></i> Nuevo Usuario</a>
        </div>
    </div>

    <div class="panel-container">
        <div class="col-lg-12" style="padding-top:12px; padding-bottom:15px;">
            <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline" style="width:100%;" id="TablaPrincipal">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre Completo</th>
                        <th>Usuario</th>
                        <th>Correo Electronico</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Telefono</th>
                        <th>Rol Usuario</th>
                        <th>Activo</th>


                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>



    </div>
</div>

@section Scripts {

    <script>

        function MostrarEditarInfo(id) {
            $.ajax({
                url: "@Url.Action("EditarInfoUsuario", "Usuario")",
                method: "get",
                data: { id: id },
                success: function (resp) {
                    ShowModalBig(resp);
                },
                error: function (resp) {
                    alert("Error");
                }
            });
        }

        function MostrarEditarInfoLaboral(id) {
     $.ajax({
         url: "@Url.Action("EditarInfoUsuarioLaboral", "Usuario")",
         method: "get",
         data: { id: id },
         success: function (resp) {
             ShowModalSmall(resp);
         },
         error: function (resp) {
             alert("Error");
         }
     });
 }

        function MostrarEditarCuenta(id) {
            $.ajax({
                url: "@Url.Action("EditarCuentaUsuario","Usuario")",
                method: "get",
                data: { id: id },
                success: function (resp) {
                    ShowModalBig(resp);
                },
                error: function (resp) {
                    alert("Error");
                }
            });
        }

        function MostrarCambiarContrasena(id) {
            $.ajax({
                url: "@Url.Action("CambiarContrasenaUsuario","Usuario")",
                method: "get",
                data: { id: id },
                success: function (resp) {
                    ShowModal(resp);
                },
                error: function (resp) {
                    alert("Error");
                }
            });
        }

        function Desactivar(id) {
            $.ajax({
                url: "@Url.Action("DeshabilitarUsuario","Usuario")",
                method: "post",
                data: { id: id },
                success: function (data) {
                    if (data.Estado) {
                        tablaPrincipal.ajax.reload().draw(false);
                    }
                    AlertaAjax(data);
                },
                Urlrror: function (resp) {
                    AlertaError();
                }
            });
        }






        var tablaPrincipal = $('#TablaPrincipal').DataTable({
            autoWidth: true,
            responsive: true,
            language: {
                "emptyTable": "No se encontraron resultados.",
                "searUrlh": '<div class="icon-addon addon-md"><label for="search" class="ion-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
            },

            order: [[1, "desc"]],
            ajax: {
                url: '@Url.Action("CargarListaUsuarios", "Usuario")',
                method: "Get",
                dataSrc: function (data) {
                    return data;
                }
            },

            columns: [
                {
                    data: null,
                    render: function (data) {
                        var opciones = '<div class="btn-group"> <button class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-themed" data-toggle="dropdown" aria-expanded="false"> Acciones  </button>';
                        opciones += '<div class="dropdown-menu">';
                        opciones += '<a href="javascript:void(0)" class="dropdown-item" onclick="MostrarEditarInfo(' + data.fiIdUsuario + ')"> Editar Informacion Personal</a>';
                        opciones += '<a href="javascript:void(0)" class="dropdown-item" onclick="MostrarEditarInfoLaboral(' + data.fiIdUsuario + ')"> Editar Informacion Laboral</a>';

                    @if (User.IsInRole("coreseguridad_AccesoAlSistema"))
                    {
                        <text>opciones += '<a href="javascript:void(0)" class="dropdown-item" onclick="MostrarEditarCuenta(' + data.fiIdUsuario + ')"> Editar Cuenta de Usuario</a>';</text>
                    }
                        opciones += '<a href="javascript:void(0)" class="dropdown-item" onclick="MostrarCambiarContrasena(' + data.fiIdUsuario + ')"> Cambiar Contraseña</a>';
                    @if (User.IsInRole("coreseguridad_AccesoAlSistema"))
                    {
                        <text>opciones += '<a href="javascript:void(0)" class="dropdown-item" onclick="Desactivar(' + data.fiIdUsuario + ')"> ' + (data.fiEstado == 1 ? 'Deshabilitar Usuario' : 'Habilitar Usuario') + '</a>';</text>
                    }

                        opciones += data.NombreRol == "Orion_Contratista" ? `<a href="@Url.Action("AgregarUsuarioTecnico", "Usuario")/${data.fiIdUsuario}" class="dropdown-item"> Agregar Tecnicos </a>` : "";
                        opciones += '</div></div>';
                        return opciones;
                    }
                },
                {
                    data: null,
                    render: function (data) {

                        return data.fcPrimerNombre + " " + data.fcSegundoNombre + " " + data.fcPrimerApellido + " " + data.fcSegundoApellido;
                    }
                },
                {
                    data: 'UserName'
                },


                {
                    data: 'fcBuzondeCorreo'
                },
                {
                    visible: false,
                    data: null,
                    render: function (data) {

                        return '<div style="display:none;">' + moment(data.FechaNacimiento) + '</div>' + moment(data.FechaNacimiento).format("DD/MM/YYYY");
                    }
                },

                {
                    data: 'fcTelefonoMovil'
                },

                {
                    data: null,
                    render: function (data) {

                        return `<span class="btn-sm btn-block badge badge-info">${data.NombreRol}</span>`;


                    }
                },

                {
                    data: null,
                    render: function (data) {
                        if (data.fiEstado) {
                            return '<span class="btn-sm btn-block badge badge-success">SI</span>';
                        } else {
                            return '<span class="btn-sm btn-block badge badge-danger">NO</span>';
                        }

                    }
                },


            ]

        });


    </script>
}
