@using OrionCoreCableColor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Saris</title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-Tap-highlight" content="no">
    <link rel="stylesheet" href="~/Content/css/vendors.bundle.css">
    <link rel="stylesheet" href="~/Content/css/app.bundle.css">
    <link rel="stylesheet" href="~/Content/css/skins/skin-master.css">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/img/LogoCabeceraOrion.ico">
    <link rel="icon" type="image/x-ico" sizes="32x32" href="~/Content/img/LogoCabeceraOrion.ico">
    <link rel="mask-icon" href="~/Content/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="~/Content/css/page-login-alt.css">
    <link rel="stylesheet" href="~/Content/css/themes/cust-theme-15.css">
    <link rel="stylesheet" href="~/Content/css/loginanimation.css">
</head>
<body class="mod-bg-1 mod-nav-link desktop chrome webkit pace-done blur gradient-fondo">
    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="gradiente"></div>

    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 rounded">
        <div class="card col-12 col-md-8 col-lg-6 m-0 rounded" style="background-color: transparent;">
            <div class="row gradient-border">
                <div class="col-md-6 d-flex justify-content-center align-items-center mb-3 mb-md-0 rounded-md-top" style="background-image: url('/Content/img/loginStackFondo.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <div class="gradiente-white"></div>
                    <div class="w-100 d-flex align-items-center justify-content-center px-4 py-5">
                        <div class="d-flex align-items-center w-75 p-0">
                            <img src="/Content/img/LogoCabeceraOrion.png" alt="ORION" aria-roledescription="logo" class="img-fluid">
                            <span class="page-logo-text mr-1"></span>
                            <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 g-0">
                    <div class="card-body p-4 d-flex flex-column justify-content-center h-100">
                        <!-- Ajuste aquí: se agrega la clase h-100 para altura 100% -->
                        <div class="gradiente"></div>

                        <div class="text-center mb-4">
                            <h5 class="card-title text-light"></h5>
                            <p class="text-light"></p>
                        </div>
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger text-center mb-3" })
                            <div class="form-group mb-3 col-12">
                                <div class="input-group has-validation">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-light" style="background-color:transparent"><i class="fal fa-user"></i></span>
                                    </div>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control custom-input text-white", @placeholder = "Usuario" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-3 col-12">
                                <div class="input-group has-validation">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-light" style="background-color:transparent"><i class="fal fa-lock"></i></span>
                                    </div>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control custom-input text-white", @placeholder = "Contraseña" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <button class="btn ov-btn-grow-primary pulse col-12 mb-3" type="submit">Iniciar Sesión</button>
                        }
                        <a href="/Account/ForgotPassword" class="d-block text-center">
                            <span class="btn-link text-light"><strong>¿Olvidaste la Contraseña?</strong></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/vendors.bundle.js"></script>
    <script src="~/Content/js/app.bundle.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function Resultado(data) { }
        $(document).ready(function (data) {
            AlertaAjax(data);
        });
    </script>
}
